@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes change-page{
  0%{
    opacity:100%;
  }
  50%{
    opacity:0%;
  }
  100%{
    opacity:100%;
  }
}

body {
font-size: 2rem;
background-color: #ffffff;
background-image: url("../public/img/dark-geometric.png");
} 

ul {
  font-size:0.7em;
}
.page-header{
  margin-left:60px;
  margin-top:150px;
  font-size:3.5em;
}
.main-profile-pic-class{
  background-image:url('../public/img/profile-pic.png');
  position:fixed;
  width:auto;
  height: 40.5rem;
  overflow: hidden;
  opacity:30%;
  animation: 1s ease-in-out 0s 1 startup;
  transition-duration: 300ms;

}
.profile-pic-startup{
  opacity:0%;
}
.start-page-profile-pic{
  bottom:0;
  right:-390px;
}
.about-page-profile-pic{
  bottom:0;
  right:0;
  opacity:100%;
}
.knowledge-and-experiences-page-profile-pic::before{
  right:-390px;
}
.knowledge-and-experiences-page-profile-pic{
  bottom:0;
  right:0;
  opacity:30%;
}