@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes startup{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}



body {
font-size: 2rem;
background-color: #ffffff;
background-image: url("../public/img/dark-geometric.png");
} 

@media (max-width:1000px) {
  
  .main-profile-pic-class{
    position:fixed;
    height: 10vh;
    overflow: hidden;
    opacity:40%;
    animation: 200ms ease-in-out 0s 1 startup;
    transition-duration: all 300ms;
  }
  .profile-pic-startup{
    opacity:0%;
  }
  .start-page-profile-pic{
    bottom:-10px;
    right:-380px;
  }
  .about-page-profile-pic{
    bottom:-10px;
    right:0;
    opacity:100%;
  }
  
  .portfolio-and-experiences-page-profile-pic{
    bottom:0;
    right:0;
  }
  .knowledge-page-profile-pic{
    bottom:-10px;
    left:-380px;
  }
}

ul {
  font-size:0.7em;
}
.page-header{
  margin-left:60px;
  margin-top:150px;
  font-size:3.5em;
}
.main-profile-pic-class{
  background-image:url('../public/img/profile-pic.png');
  position:fixed;
  width:auto;
  height: 70vh;
  overflow:hidden;
  opacity:40%;
  animation: 200ms ease-in-out 0s 1 startup;
  transition-duration: 300ms;
  left:auto;
  right:auto;

}
.profile-pic-startup{
  opacity:0%;
}
.start-page-profile-pic{
  bottom:-10px;
  right:-390px;
}
.about-page-profile-pic{
  bottom:-10px;
  right:0;
  opacity:100%;
}

.portfolio-and-experiences-page-profile-pic{
  bottom:0;
  right:0;
}
.knowledge-page-profile-pic{
  bottom:-10px;
  right:60vw;
}